# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mixgeo\Desktop\Department of Informatics\5ο Εξάμηνο\Τεχνητή Νοημοσύνη\Exercise2\AdaBoost_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
